/********************
 * TYPOGRAPHY
 ********************/

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.3;
	margin: 0 0 0.5rem;
}

h1 {
	font-size: 2.5rem;
	&.display-heading {
		font-size: 3.5rem;
	}
	@media (max-width: 475px) {
		font-size: 2rem;
		&.display-heading {
			font-size: 2.5rem;
		}
	}
}

h2 {
	font-size: 2rem;
	&.display-heading {
		font-size: 3rem;
	}
	@media (max-width: 475px) {
		font-size: 1.75rem;
		&.display-heading {
			font-size: 2rem;
		}
	}
}

h3 {
	font-size: 1.75rem;
	&.display-heading {
		font-size: 2.5rem;
	}
	@media (max-width: 475px) {
		font-size: 1.5rem;
		&.display-heading {
			font-size: 1.75rem;
		}
	}
}

h4 {
	font-size: 1.5rem;
	&.display-heading {
		font-size: 2rem;
	}
	@media (max-width: 475px) {
		font-size: 1.25rem;
		&.display-heading {
			font-size: 1.5rem;
		}
	}
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

.display-heading {
	font-weight: 300;
}

p {
	font-size: 1rem;
	line-height: 1.4;
	margin: 0 0 1rem;
	&.emphasized {
		font-size: 1.125rem;
		line-height: 1.4;
	}
	button,
	button {
		vertical-align: baseline;
	}
}

a {
	text-decoration: none;
	color: #1547A9;
	cursor: pointer;
	&:hover {
		color: #1547A9;
		text-decoration: none;
	}
}

blockquote {
	margin: 0 0 1rem;
	padding: 1rem 2.5rem;
	p {
		font-size: 1.25rem;
		font-weight: 300;
		font-style: italic;
		line-height: 1.5;
	}
	footer {
		color: var(--text-50);
		margin-top: 8px;
	}
}